{% extends "base.html" %}

{% load humanize helpers %}

{% block head_title %}{{service.name}}{% endblock %}

{% block content %}
<div class="md:flex justify-between items-center" id="heading">
    <a class="flex items-center mb-4 md:mb-0" href="{% url 'dashboard:service' object.uuid %}">
        <h3 class="heading leading-none mr-4">
            {{object.link|iconify}}
            {{object.name}}
        </h3>
        <div class='text-3xl'>
            {% include 'dashboard/includes/stats_status_chip.html' %}
        </div>
    </a>
    <div class="flex items-center">
        {% block service_actions %}
        {% endblock %}
    </div>
</div>
<hr class="sep h-8">
{% block service_content %}
{% endblock %}
{% endblock %}