[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
django = "*"
django-allauth = "*"
geoip2 = "*"
celery = "*"
django-ipware = "*"
pyyaml = "*"
ua-parser = "*"
user-agents = "*"
django-humanize = "*"
anonymizeip = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
