<!DOCTYPE html>

<html>

<head>
    <title>{{title|default:"Privacy-oriented analytics"}} | Shynet</title>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/a17t@latest/dist/a17t.css">
</head>

<body class="bg-gray-100 min-h-full">
    <section class="max-w-4xl mx-auto px-6 md:py-12">
        {% block body %}
        {% endblock %}
    </section>
</body>

</html>