{% load a17t_tags %}

<field role="field" class="block mb-2">

    {% if field|is_checkbox %}
    <label class="switch {{ classes.label }}">
        {{ field }}
        <span>{{ field.label }}</span>
    </label>
    {% elif field|is_radio %}
    {% if field.auto_id %}
    <label class="label my-1" for="{{field.auto_id}}">{{ field.label }}</label>
    {% endif %}
    {% for choice in field %}
    <label class="switch">
        {{ choice.tag }}
        <span>{{ choice.choice_label }}</span>
    </label>
    {% endfor %}
    {% elif field|is_input %}
    <label class="label" for="{{field.auto_id}}">{{ field.label }}</label>
    {{field|add_class:"input"}}
    {% elif field|is_textarea %}
    <label class="label" for="{{field.auto_id}}">{{ field.label }}</label>
    {{ field|add_class:'textarea' }}
    {% elif field|is_select %}
    <label class="label" for="{{field.auto_id}}">{{ field.label }}</label>
    <div class="select {% if field.errors|length > 0 %}~critical{% endif %}">
        {{field}}
    </div>
    {% else %}
    <label class="label" for="{{field.auto_id}}">{{ field.label }}</label>
    {{field|add_class:"field"}}
    {% endif %}

    {% for error in field.errors %}
    <p class="support ~critical">{{ error }}</p>
    {% endfor %}
    {% if field.help_text %}
    <p class="support">{{field.help_text|safe}}</p>
    {% endif %}

</field>