.table tbody tr:nth-child(2n) {
    background-color: transparent;
}

.table {
    overflow-x: auto;
}

.limited-height {
    overflow: auto;
    max-height: 400px;
}

.rf {
    text-align: right !important;
}