.table tbody tr:nth-child(2n) {
    background-color: transparent;
}

.table {
    overflow-x: auto;
}

.limited-height {
    overflow: auto;
    max-height: 400px;
}

.rf {
    text-align: right !important;
}

.chart-card .apexcharts-svg {
    border-radius: 0 0 var(--border-radius-lg, 0.5rem) var(--border-radius-lg, 0.5rem);
}

.max-w-0 {
    max-width: 0;
}

.min-w-48 {
    min-width: 48px;
}

.geo-table {
    display: none;
}

.geo-card--use-table-view .geo-map {
    display: none;
}

.geo-card--use-table-view .geo-table {
    display: inline-block;
}