{% extends "dashboard/service_base.html" %}

{% load i18n a17t_tags pagination humanize helpers %}

{% block head_title %}{{object.name}} {% trans 'Sessions' %}{% endblock %}

{% block service_actions %}
<div class="mr-2">{% include 'dashboard/includes/date_range.html' %}</div>
<a href="{% contextual_url 'dashboard:service' object.uuid %}" class="button field ~neutral !low bg-neutral-000 w-auto">{% trans 'Analytics' %} &rarr;</a>
{% endblock %}

{% block service_content %}
<div class="card ~neutral !low mb-8 pt-2 max-w-full overflow-x-auto">
    {% include 'dashboard/includes/session_list.html' %}
</div>
{% pagination page_obj request %}
{% endblock %}
