{% extends "dashboard/service_base.html" %}

{% load i18n a17t_tags %}

{% block head_title %}{% trans 'Delete' %} {{object.name}}{% endblock %}

{% block service_content %}
<form class="card ~neutral !low p-0 max-w-xl" method="POST">
    {% csrf_token %}
    <div class="p-4">
        <p>
            {% blocktrans trimmed %}
                Are you sure you want to delete this service? All of its
                analytics and associated data will be permanently deleted.
            {% endblocktrans %}
        </p>
        {{form|a17t}}
    </div>
    <div class="section ~critical !normal p-4">
        <button type="submit" class="button ~critical !high">Delete</button>
        <a href="{% url 'dashboard:service' object.uuid %}" class="button ~critical !low">Cancel</a>
    </div>
</form>
{% endblock %}