{% extends "core/service_base.html" %}

{% load humanize helpers %}

{% block service_actions %}
<div class="mr-2">{% include 'core/includes/date_range.html' %}</div>
<a href="{% url 'core:service_update' service.uuid %}" class="button field ~neutral !low w-auto">Manage &rarr;</a>
{% endblock %}

{% block service_content %}
<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6" id="stats">
    <article class="card ~neutral !low">
        <p class="label">Sessions</p>
        <p class="heading text-purple-600">
            {{stats.session_count|intcomma}}
        </p>
    </article>
    <article class="card ~neutral !low">
        <p class="label">Hits</p>
        <p class="heading text-purple-600">
            {{stats.hit_count|intcomma}}
        </p>
    </article>
    <article class="card ~neutral !low">
        <p class="label">Avg. Load Time</p>
        <p class="heading text-purple-600">
            {{stats.avg_load_time|floatformat:"0"}}ms
        </p>
    </article>
    <article class="card ~neutral !low">
        <p class="label">Bounce Rate</p>
        <p class="heading text-purple-600">{{stats.bounce_rate_pct|floatformat:"-1"}}%</p>
    </article>
    <article class="card ~neutral !low">
        <p class="label">Avg. Duration</p>
        <p class="heading text-purple-600">{{stats.avg_session_duration|naturaldelta}}</p>
    </article>
    <article class="card ~neutral !low">
        <p class="label">Avg. Hits/Session</p>
        <p class="heading text-purple-600">{{stats.avg_hits_per_session|floatformat:"-1"}}</p>
    </article>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
    <div class="card ~neutral !low limited-height">
        <table class="table">
            <thead class="text-sm">
                <tr>
                    <th>Location</th>
                    <th>Hits</th>
                </tr>
            </thead>
            <tbody>
                {% for location in stats.locations %}
                <tr>
                    <td>{{location.location|urlize}}</td>
                    <td>{{location.count|intcomma}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card ~neutral !low limited-height">
        <table class="table">
            <thead class="text-sm">
                <tr>
                    <th>Referrer</th>
                    <th>Sessions</th>
                </tr>
            </thead>
            <tbody>
                {% for referrer in stats.referrers %}
                <tr>
                    <td>{{referrer.referrer|default:"Direct"|urlize}}</td>
                    <td>{{referrer.count|intcomma}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card ~neutral !low limited-height">
        <table class="table">
            <thead class="text-sm">
                <tr>
                    <th>Operating System</th>
                    <th>Sessions</th>
                </tr>
            </thead>
            <tbody>
                {% for os in stats.operating_systems %}
                <tr>
                    <td>{{os.os|default:"Unknown"}}</td>
                    <td>{{os.count|intcomma}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card ~neutral !low limited-height">
        <table class="table">
            <thead class="text-sm">
                <tr>
                    <th>Browser</th>
                    <th>Sessions</th>
                </tr>
            </thead>
            <tbody>
                {% for browser in stats.browsers %}
                <tr>
                    <td>{{browser.browser|default:"Unknown"}}</td>
                    <td>{{browser.count|intcomma}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card ~neutral !low limited-height">
        <table class="table">
            <thead class="text-sm">
                <tr>
                    <th>Device</th>
                    <th>Sessions</th>
                </tr>
            </thead>
            <tbody>
                {% for device in stats.devices %}
                <tr>
                    <td>{{device.device|default:"Unknown"}}</td>
                    <td>{{device.count|intcomma}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card ~neutral !low limited-height">
        <table class="table">
            <thead class="text-sm">
                <tr>
                    <th>Device Type</th>
                    <th>Sessions</th>
                </tr>
            </thead>
            <tbody>
                {% for device_type in stats.device_types %}
                <tr>
                    <td>{{device_type.device_type|default:"Unknown"|title}}</td>
                    <td>{{device_type.count|intcomma}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{% url 'core:service_session_list' service.uuid %}" class="button">View individual sessions &rarr;</a>
{% endblock %}