{% extends "core/service_base.html" %}

{% load a17t_tags %}

{% block head_title %}{{object.name}} Management{% endblock %}

{% block service_actions %}
<a href="{% url 'core:service' object.uuid %}" class="button field ~neutral !low w-auto">View &rarr;</a>
{% endblock %}

{% block service_content %}
<div class="max-w-xl content">
    <h5>Analytics Installation</h5>
    <p>(At the end of <code>&lt;body&gt;</code>)
        <pre
            class="text-sm"><code>{% filter force_escape %}<noscript><img src="{{base_url}}/ingress/fc4008d3-f2fa-4500-9968-d96719e3819c/pixel.gif"></noscript>
<script src="{{base_url}}/ingress/fc4008d3-f2fa-4500-9968-d96719e3819c/identifier/script.js"></script>{% endfilter %}</pre></code>
</div>
<hr class="sep">
<form class="card ~neutral !low p-0 max-w-xl" method="POST">
    {% csrf_token %}
    <div class="p-4">
        {{form|a17t}}
    </div>
    <div class="section ~neutral !normal p-4 flex justify-between">
        <div>
            <button type="submit" class="button ~neutral !high">Save</button>
            <a href="{% url 'core:service' object.uuid %}" class="button ~neutral !low">Cancel</a>
        </div>
        <div>
            <a href="{% url 'core:service_delete' object.uuid %}" class="button ~critical !high">Delete</a>
        </div>
    </div>
</form>
{% endblock %}