{% load humanize helpers %}

<a class="card ~neutral !low service mb-6" href="{% url 'core:service' object.uuid %}">
    {% with stats=object.stats %}
    <div class="md:flex justify-between items-center">
        <div class="mr-4 md:w-4/12">
            <h3 class="heading text-xl mr-2 mb-1">
                {{object.name}}
            </h3>
            {% include 'core/includes/stats_status_chip.html' %}
        </div>
        <div class="mr-2">
            <p class="font-medium text-sm">Sessions</p>
            <p class="text-xl text-purple-700 font-medium">{{stats.session_count|intcomma}}</p>
        </div>
        <div class="mr-2">
            <p class="font-medium text-sm">Bounce Rate</p>
            <p class="text-xl text-purple-700 font-medium">{{stats.bounce_rate_pct|floatformat:"-1"}}%</p>
        </div>
        <div class="mr-2">
            <p class="font-medium text-sm">Avg. Duration</p>
            <p class="text-xl text-purple-700 font-medium">{{stats.avg_session_duration|naturaldelta}}</p>
        </div>
        <div class="mr-2">
            <p class="font-medium text-sm">Uptime</p>
            <p class="text-xl text-purple-700 font-medium">99.9%</p>
        </div>
    </div>
    {% endwith %}
</a>