{% load static rules %}
<!DOCTYPE html>

<html>

<head>
  <title>{% block head_title %}Privacy-oriented analytics{% endblock %} | Shynet</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'a17t/head.html' %}
  <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.18.1/dist/apexcharts.min.js"
    integrity="sha256-RalQXBZdisB04aaBsm+6YZ0b/iRYjX1MZn90m19AnCY=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'core/css/global.css' %}">
  {% block extra_head %}
  {% endblock %}
</head>

<body class="bg-gray-200 min-h-full">
  {% block body %}

  <section class="max-w-screen-xl mx-auto px-6 md:px-0 md:py-12 md:flex">
    <aside class="md:w-2/12 md:pr-6">
      <a class="icon ~urge ml-6 mb-8 mt-3" href="{% url 'core:dashboard' %}">
        <i class="fas fa-book-reader fa-3x text-purple-600"></i>
      </a>

      {% if user.owning_services.all %}
      <p class="ml-2 mt-8 mb-1 supra font-medium text-gray-500 pointer-events-none">Services</p>

      {% for service in user.owning_services.all %}
      {% url 'core:service' service.uuid as url %}
      {% include 'core/includes/sidebar_portal.html' with label=service.name url=url %}
      {% endfor %}

      {% endif %}

      {% has_perm 'core.create_service' user as can_create %}
      {% if can_create %}
      {% url 'core:service_create' as url %}
      {% include 'core/includes/sidebar_portal.html' with label="+ Create" url=url %}
      {% endif %}

      {% if user.collaborating_services.all %}
      <p class="ml-2 mt-8 mb-1 supra font-medium text-gray-500 pointer-events-none">Collaborations</p>

      {% for service in user.collaborating_services.all %}
      {% url 'core:service' service.uuid as url %}
      {% include 'core/includes/sidebar_portal.html' with label=service.name url=url %}
      {% endfor %}

      {% endif %}

      <p class="ml-2 mt-8 mb-1 supra font-medium text-gray-500 pointer-events-none">Account</p>

      {% if user.is_authenticated %}

      {% url 'account_email' as url %}
      {% include 'core/includes/sidebar_portal.html' with label="Emails" url=url %}

      {% url 'account_logout' as url %}
      {% include 'core/includes/sidebar_portal.html' with label="Log Out" url=url %}

      {% else %}

      {% url 'account_login' as url %}
      {% include 'core/includes/sidebar_portal.html' with label="Log In" url=url %}

      {% url 'account_signup' as url %}
      {% include 'core/includes/sidebar_portal.html' with label="Sign Up" url=url %}

      {% endif %}
    </aside>
    <div class="md:w-10/12">
      {% if messages %}
      <div>
        {% for message in messages %}
        <article class="card {{message.tags}} !high mb-2 w-full">{{message}}</article>
        {% endfor %}
        </ul>
      </div>
      <hr class="sep">
      {% endif %}
      <main>
        {% block content %}
        {% endblock %}
      </main>
    </div>
  </section>
  {% endblock %}
  {% block extra_body %}
  {% endblock %}
</body>

</html>