<!DOCTYPE html>

<html>

<head>
  <title>{% block head_title %}Privacy-oriented analytics{% endblock %} | Shynet</title>
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/a17t@latest/dist/a17t.css">
  {% block extra_head %}
  {% endblock %}
</head>

<body class="bg-gray-100 min-h-full">
  {% block body %}

  <section class="max-w-4xl mx-auto px-6 md:py-12">
    {% if messages %}
    <div>
      {% for message in messages %}
      <article class="card {{message.tags}} mb-2 w-full">{{message}}</article>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </section>
  {% endblock %}
  {% block extra_body %}
  {% endblock %}
</body>

</html>