{% load helpers %}

<div id="map-chart" class="relative h-full w-full"></div>
<script>
    
    // Handle data
    const countryMap = {
        {% for country in stats.countries %}"{{country.country|datamap_id}}": {{country.count}},
        {% endfor %}
    };
    const keys = Object.keys(countryMap);
    const length = keys.length;
    const countryMapMapData = {}
    const countryMapColors = {}
    const max = Math.max(...Object.values(countryMap));
    const minPercentage = 0.2

    for (let i = 0; i < length; i++) {
        countryMapMapData[keys[i]] = {
            sessionCount: countryMap[keys[i]]
        }
        countryMapColors[keys[i]] = `rgba(78,66,255, ${countryMap[keys[i]] === 0 ? 0 : minPercentage + (countryMap[keys[i]] / max * (1 - minPercentage))})`
    }

    // Map
    const map = new Datamap({
        element: document.getElementById('map-chart'),
        projection: 'mercator',
        geographyConfig: {
            borderColor: "#8992ff",
            highlightBorderColor: '#3948ff',
            highlightFillColor: '#3948ff',
            popupTemplate: function(geography, data) {
                return '<div class="hoverinfo"><strong>' + geography.properties.name + '</strong>: ' +  data.sessionCount + ' sessions</div>'
            }
        },
        fills: {
            defaultFill: '#ffffff'
        },
        data: countryMapMapData,
        responsive: true
    });
    
    map.updateChoropleth(countryMapColors)
    window.onresize = () => map.resize();

    console.log(countryMap, countryMapMapData, countryMapColors)
    console.log(map)
    
</script>